<a
  class="btn btn-outline-primary"
  routerLink="/categories"
>
  View all categories
</a>
<hr>
<div *ngIf="category">
  <div class="container body-content">
    <dl class="dl-horizontal">
      <dt>
        Name:
      </dt>
      <dd>
        {{ category.name }}
      </dd>
      <dt>
        Description:
      </dt>
      <dd>
        {{ category.description }}
      </dd>
    </dl>
  </div>
  <app-activities
    [activities]="activitiesInCategory"
    [hideCategory]="true"
  >
  </app-activities>
</div>

