<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h2>
        Create New Record
      </h2>
      <hr>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label for="activity">
        Activity
      </label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <select
            id="activity"
            name="activity"
            [(ngModel)]="record.activityId"
          >
            <option
              *ngFor="let activity of activities"
              [value]="activity.id"
            >
              {{ activity.name }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div
        *ngIf="record.activityId === undefined"
        class="form-control-feedback"
      >
          <span class="text-danger align-middle">
              <i class="fa fa-close">
                Can't create record without Activity
              </i>
          </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label>
        Date
      </label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <input
            type="datetime-local"
            name="date"
            class="form-control"
            id="date"
            [(ngModel)]="record.atTime"
          >
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label for="duration">
        Duration
      </label>
    </div>
    <div class="col-md-auto">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <input
            type="number"
            name="duration"
            class="form-control"
            id="duration"
            [(ngModel)]="record.duration"
            appNumberMinMax
            #validateDuration="ngModel"
            [minValue]="1"
            [wrongNumberMessage]="'Duration must be at least 1'"
          />
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div
        *ngIf="validateDuration.errors && (validateDuration.dirty || validateDuration.touched)"
        class="form-control-feedback"
      >
            <span class="text-danger align-middle">
              <i class="fa fa-close">
                {{ validateDuration.errors.message }}
              </i>
            </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label for="distance">
        Distance
      </label>
    </div>
    <div class="col-md-auto">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <input
            type="number"
            name="distance"
            class="form-control"
            id="distance"
            [(ngModel)]="record.distance"
            appNumberMinMax
            #validateDistance="ngModel"
            [minValue]="1"
            [wrongNumberMessage]="'Distance must be at least 1'"
          />
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div
        *ngIf="validateDistance.errors && (validateDistance.dirty || validateDistance.touched)"
        class="form-control-feedback"
      >
            <span class="text-danger align-middle">
              <i class="fa fa-close">
                {{ validateDistance.errors.message }}
              </i>
            </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <button
        type="submit"
        class="btn btn-success"
        (click)="createNewRecord()"
        [disabled]="validateDuration.errors || validateDistance.errors"
      >
        Create
      </button>
    </div>
  </div>
</div>

