@media(min-width: 768px) {
  .field-label-responsive {
    padding-top: .5rem;
    text-align: right;
  }
}

.calendarButtonsBorder {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.calendarButtonsBorder:hover {
  cursor: pointer;
}
