<div class="col">
  <a
    class="ml-2"
    routerLink="new"
  >
    add new
  </a>
</div>
<table class="table table-hover">
  <thead>
  <tr>
    <th>
      Activity
    </th>
    <th>
      Date
    </th>
    <th>
      Burned calories
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let userRecord of userRecords">
    <td>
      <a routerLink="/activities/{{userRecord.activityId}}">
        {{ userRecord.activityName }}
      </a>
    </td>
    <td>
      {{ userRecord.atTime }}
    </td>
    <td>
      {{ userRecord.burnedCalories }}
    </td>
    <td>
      <a
        class="btn btn-primary mr-2"
        routerLink="/records/{{userRecord.id}}"
      >
        View details
      </a>
      <a
        class="btn btn-primary"
        routerLink="/records/{{userRecord.id}}/edit"
      >
        Edit
      </a>
    </td>
  </tr>
  </tbody>
</table>

<div class="container">
  <h2>Progress</h2>
  <div class="progress">
    <div class="progress-bar" role="progressbar" [style.width]="progress">
      {{progress}}
    </div>
  </div>
</div>
