<a
  class="btn btn-outline-primary"
  routerLink="/activities"
>
  View all activities
</a>
<div
  class="container body-content"
  *ngIf="activity"
>
  <dl>
    <dt>
      Name:
    </dt>
    <dd>
      {{ activity.name }}
    </dd>
    <dt>
      Category:
    </dt>
    <dd>
      <a routerLink="/categories/{{ activity.category.id }}" >
        {{ activity.category.name }}
      </a>
    </dd>
    <dt>
      Description:
    </dt>
    <dd>
      {{ activity.description }}
    </dd>
  </dl>
</div>

<div *ngIf="activity.burnedCaloriesList">
  <table class="table">
    <thead>
      <th>
        Weight
      </th>
      <th>
        Calories
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let burnedCalories of activity.burnedCaloriesList">
        <td>
          {{ burnedCalories.upperWeightBoundary }}
        </td>
        <td>
          {{ burnedCalories.amount }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
