<div class="categories ml-2">
  <span
    *ngIf="categoriesSelection"
  >
    <label
      *ngIf="categoriesSelection.length >= 2"
    >
      All
      <input
        type="checkbox"
        [(ngModel)]="selectedAll"
        (change)="selectAll()"
      />
    </label>
  </span>
  <span>
    <label
      *ngFor="let selection of categoriesSelection"
    >
      {{selection.category.name}}
      <input
        type="checkbox"
        [(ngModel)]="selection.checked"
        (change)="filterChanged()"
      />
    </label>
  </span>
</div>
