<div class="ml-3 mt-2">
  <app-search-bar
    labelText="Search by name"
    (submitText)="onSubmitText($event)"
  >
  </app-search-bar>
</div>
<div class="row">
  <div
    class="col-auto"
    *ngIf="showCategories"
  >
    <span
      class="show-categories"
      (click)="showHide()"
    >
      Hide categories
    </span>
    <app-category-checkboxes
      [selectedCategoryIds]="selectedCategoryIds"
      (filterChange)="getActivitiesFromCategories($event)"
    >
    </app-category-checkboxes>
  </div>
  <div class="col">
    <span
      *ngIf="!showCategories"
      class="show-categories"
      (click)="showHide()"
    >
      Show categories
    </span>
    <a
      *ngIf="isUserAdmin"
      class="ml-2"
      routerLink="new"
    >
      add new
    </a>
    <button
      *ngIf="!isSorted && isUserLoggedIn"
      class="ml-2 btn btn-outline-primary"
      (click)="loadSortedActivities()"
    >
      Show sorted by burned calories
    </button>
    <app-activities
      [activities]="activities"
      [useButtonForActivityLink]="true"
    >
    </app-activities>
  </div>
</div>


