<div>
  <a
    class="btn btn-outline-primary"
    routerLink="/records"
  >
    View all records
  </a>
</div>

<div
  class="container"
  *ngIf="record"
>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h2>
        Record
      </h2>
      <a
        class="btn btn-primary"
        routerLink="/records/{{id}}/edit"
      >
        Edit
      </a>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label for="activity">
        Activity
      </label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <a
            id="activity"
            class="form-control text-primary"
            routerLink="/activities/{{record.activityId}}"
          >
            {{ record.activityName }}
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label>
        Date
      </label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <span class="form-control">
            {{ record.atTime }}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label>
        Burned calories
      </label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <span class="form-control">
            {{ record.burnedCalories }}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label>
        Distance
      </label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <span class="form-control">
            {{ record.distance }}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label>
        Duration
      </label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <span class="form-control">
            {{ record.duration }}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label>
        Bodyweight
      </label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <span class="form-control">
            {{ record.weight }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
