<h1>Settings</h1>
<hr>
<div class="container body-content">
  <dl class="dl-horizontal">
    <dt>
      Username:
    </dt>
    <dd>
      {{ userSettings.username }}
    </dd>
    <dt>
      Password:
    </dt>
    <dd>
      {{ userSettings.password }}
    </dd>
    <dt>
      Name:
    </dt>
    <dd>
      {{ userSettings.name }}
    </dd>
    <dt>
      Bodyweight:
    </dt>
    <dd>
      {{ userSettings.weight}}
    </dd>
    <dt>
      Height:
    </dt>
    <dd>
      {{ userSettings.height}}
    </dd>
    <dt>
      E-mail:
    </dt>
    <dd>
      {{ userSettings.email }}
    </dd>
  </dl>
</div>
