<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h2>
        Settings
      </h2>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label for="name">
        Name
      </label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon" style="width: 2.6rem">
            <i class="fa fa-user">
            </i>
          </div>

          <input
            type="text"
            name="name"
            class="form-control"
            id="name"
            placeholder="Username"
            [(ngModel)]="userSettings.name"
            autofocus
            appValidateLength
            #nameValidation="ngModel"
            [minLength]="1"
            [maxLength]="255"
            [wrongValueMessage]="'Wrong name'"
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div
        *ngIf="nameValidation.errors && (nameValidation.dirty || nameValidation.touched)"
        class="form-control-feedback"
      >
          <span class="text-danger align-middle">
            <i class="fa fa-close">
              {{ nameValidation.errors.message }}
            </i>
          </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label for="email">
        E-Mail Address
      </label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon" style="width: 2.6rem">
            <i class="fa fa-at">
            </i>
          </div>

          <input
            type="text"
            name="email"
            class="form-control"
            id="email"
            placeholder="you@example.com"
            [(ngModel)]="userSettings.email"
            required autofocus
            appValidateEmail
            #emailValidator="ngModel"
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div
        *ngIf="emailValidator.errors && (emailValidator.dirty || emailValidator.touched)"
        class="form-control-feedback"
      >
          <span class="text-danger align-middle">
            <i class="fa fa-close">
              {{ emailValidator.errors.message }}
            </i>
          </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label for="password">
        Password
      </label>
    </div>
    <div class="col-md-6">
      <div class="form-group has-danger">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div
            class="input-group-addon"
            style="width: 2.6rem"
          >
            <i class="fa fa-key">
            </i>
          </div>
          <input
            type="password"
            name="password"
            class="form-control"
            id="password"
            placeholder="Password"
            required
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div
        *ngIf="wrongPassword"
        class="form-control-feedback"
      >
          <span class="text-danger align-middle">
              <i class="fa fa-close">
                {{ wrongPasswordMessage }}
              </i>
          </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label for="newPassword">
        New Password
      </label>
    </div>
    <div class="col-md-6">
      <div class="form-group has-danger">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div
            class="input-group-addon"
            style="width: 2.6rem"
          >
            <i class="fa fa-key">
            </i>
          </div>
          <input
            type="password"
            name="newPassword"
            class="form-control"
            id="newPassword"
            placeholder="Password"
            required
            appValidateLength
            #validatePassword="ngModel"
            [minLength]="5"
            [maxLength]="63"
            [noValueMessage]="'Password is required'"
            [wrongValueMessage]="'Wrong password'"
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div
        *ngIf="validatePassword.errors && (validatePassword.dirty || validatePassword.touched)"
        class="form-control-feedback"
      >
          <span class="text-danger align-middle">
              <i class="fa fa-close">
                {{ validatePassword.errors.message }}
              </i>
          </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label for="password">
        Confirm Password
      </label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon" style="width: 2.6rem">
            <i class="fa fa-repeat">
            </i>
          </div>

          <input
            type="password"
            name="password-confirmation"
            class="form-control"
            id="password-confirm"
            placeholder="Password"
            required autofocus
            appPasswordsEqual="newPassword"
            #validateEqualPassword="ngModel"
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div
        *ngIf="validateEqualPassword.errors && (validateEqualPassword.dirty || validateEqualPassword.touched)"
        class="form-control-feedback"
      >
          <span class="text-danger align-middle">
              <i class="fa fa-close">
                {{ validateEqualPassword.errors.message }}
              </i>
          </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label for="height">
        Height
      </label>
    </div>
    <div class="col-md-auto">
      <div class="form-group has-danger">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <input
            type="number"
            name="height"
            class="form-control"
            id="height"
            required
            [(ngModel)]="userSettings.height"
            appNumberMinMax
            #heightValidator="ngModel"
            [minValue]="1"
            [wrongNumberMessage]="'Wrong height'"
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div
        *ngIf="heightValidator.errors && (heightValidator.dirty || heightValidator.touched)"
        class="form-control-feedback"
      >
          <span class="text-danger align-middle">
              <i class="fa fa-close">
                {{ heightValidator.errors.message }}
              </i>
          </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label for="bodyweight">
        Bodyweight
      </label>
    </div>
    <div class="col-md-auto">
      <div class="form-group has-danger">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <input
            type="number"
            name="bodyweight"
            class="form-control"
            id="bodyweight"
            required
            [(ngModel)]="userSettings.weight"
            appNumberMinMax
            #bodyweightValidation="ngModel"
            [minValue]="1"
            [wrongNumberMessage]="Wrong bodyweight"
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div
        *ngIf="bodyweightValidation.errors && (bodyweightValidation.dirty || bodyweightValidation.touched)"
        class="form-control-feedback"
      >
          <span class="text-danger align-middle">
              <i class="fa fa-close">
                {{ bodyweightValidation.errors.message }}
              </i>
          </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <button
        type="submit"
        class="btn btn-success"
      >
        <i class="fa fa-save">
        </i>
        Save settings
      </button>
    </div>
</div>
