<div class="container">
  <form
    class="form-horizontal"
    role="form"
    method="POST"
    action="/register"
  >
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h2>
          Register New User
        </h2>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="username">
          Username
        </label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem">
              <i class="fa fa-user-secret">
              </i>
            </div>

            <input
              type="text"
              name="username"
              class="form-control"
              id="username"
              placeholder="Username"
              [(ngModel)]="username"
              required autofocus
              appValidateLength
              #usernameValidation="ngModel"
              [minLength]="3"
              [maxLength]="63"
              [noValueMessage]="'Username is required'"
              [minLengthMessage]="'Username must be at least 3 characters long'"
              [maxLengthMessage]="'Username must be at max 63 characters long'"
            >
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div
          *ngIf="usernameValidation.errors && (usernameValidation.dirty || usernameValidation.touched)"
          class="form-control-feedback"
        >
          <span class="text-danger align-middle">
              <i class="fa fa-close">
                {{ usernameValidation.errors.message }}
              </i>
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="name">
          Name
        </label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem">
              <i class="fa fa-user">
              </i>
            </div>

            <input
              type="text"
              name="name"
              class="form-control"
              id="name"
              placeholder="Name"
              [(ngModel)]="name"
              autofocus
              appValidateLength
              #nameValidation="ngModel"
              [minLength]="3"
              [maxLength]="63"
              [minLengthMessage]="'Name must be at least 3 characters long'"
              [maxLengthMessage]="'Name must be at max 63 characters long'"
              [noValueMessage]="'Name is required'"
            >
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div
          *ngIf="nameValidation.errors && (nameValidation.dirty || nameValidation.touched)"
          class="form-control-feedback"
        >
          <span class="text-danger align-middle">
            <i class="fa fa-close">
              {{ nameValidation.errors.message }}
            </i>
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="email">
          E-Mail Address
        </label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem">
              <i class="fa fa-at">
              </i>
            </div>

            <input
              type="text"
              name="email"
              class="form-control"
              id="email"
              placeholder="you@example.com"
              [(ngModel)]="email"
              autofocus
              required
              appValidateEmail
              #emailValidator="ngModel"
            />
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div
          *ngIf="emailValidator.errors && (emailValidator.dirty || emailValidator.touched)"
          class="form-control-feedback"
        >
          <span class="text-danger align-middle">
            <i class="fa fa-close">
              {{ emailValidator.errors.message }}
            </i>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="password">
          Password
        </label>
      </div>
      <div class="col-md-6">
        <div class="form-group has-danger">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div
              class="input-group-addon"
              style="width: 2.6rem"
            >
              <i class="fa fa-key">
              </i>
            </div>
            <input
              type="password"
              name="password"
              class="form-control"
              id="password"
              placeholder="Password"
              [(ngModel)]="password"
              required autofocus
              appValidateLength
              #passwordValidation="ngModel"
              [minLength]="5"
              [maxLength]="63"
              [noValueMessage]="'Password is required'"
              [minLengthMessage]="'Password must be at least 5 characters long'"
              [maxLengthMessage]="'Password must be at max 63 characters long'"
            >
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div
          *ngIf="passwordValidation.errors && (passwordValidation.dirty || passwordValidation.touched)"
          class="form-control-feedback"
        >
          <span class="text-danger align-middle">
              <i class="fa fa-close">
                {{ passwordValidation.errors.message }}
              </i>
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="password-confirmation">
          Confirm Password
        </label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem">
              <i class="fa fa-repeat">
              </i>
            </div>

            <input
              type="password"
              name="password-confirmation"
              class="form-control"
              id="password-confirmation"
              placeholder="Password"
              [(ngModel)]="passwordRepeat"
              required
              appPasswordsEqual="password"
              #passwordEqualValidator="ngModel"
            >
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div
          *ngIf="passwordEqualValidator.errors && (passwordEqualValidator.dirty || passwordEqualValidator.touched)"
          class="form-control-feedback"
        >
          <span class="text-danger align-middle">
              <i class="fa fa-close">
                {{ passwordEqualValidator.errors.message }}
                <span *ngIf="passwordEqualValidator.errors.required">
                  Password is required
                </span>
              </i>
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="birthday">
          Birthday
        </label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem">
              <i class="fa fa-birthday-cake">
              </i>
            </div>

            <span (click)="overridePopupWindowStyle()">
              <ng-datepicker
                id="birthday"
                name="birthday"
                position="bottom-right"
                [(ngModel)]="birthday"
              >
              </ng-datepicker>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label>
          Gender
        </label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 5.5rem">
              <form name="genders">
                <i class="fa fa-mars">
                </i>
                <input type="radio" [(ngModel)]="male" [value]="true" name="male">
                <i class="fa fa-venus"></i>
                <input type="radio" [(ngModel)]="male" [value]="false" name="female">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <button
          type="submit"
          class="btn btn-success"
          (click)="registerAccount()"
          [disabled]="usernameValidation.errors || passwordValidation.errors || passwordEqualValidator.errors || emailValidator.errors"
        >
          <i class="fa fa-user-plus">
          </i>
          Register
        </button>
      </div>
      <div class="col-md-3">
        <div
          *ngIf="usernameExists || emailExists"
          class="form-control-feedback"
        >
          <span class="text-danger align-middle">
            <div *ngIf="usernameExists">
              <i class="fa fa-close">
              </i>
              Username already exists
            </div>
            <div *ngIf="emailExists">
              <i class="fa fa-close">
              </i>
              E-Mail already exists
            </div>
          </span>
        </div>
      </div>
    </div>
  </form>
</div>
