<div class="container">
  <form
    class="form-horizontal"
    role="form"
    method="POST"
    action="/register"
  >
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h2>
          Register New User
        </h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="name">
          Username
        </label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem">
              <i class="fa fa-user">
              </i>
            </div>

            <input
              type="text"
              name="name"
              class="form-control"
              id="name"
              placeholder="Username"
              required autofocus
            >
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div
          *ngIf="wrongUsername"
          class="form-control-feedback"
        >
          <span class="text-danger align-middle">
              <i class="fa fa-close">
                {{ wrongUsernameMessage }}
              </i>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="email">
          E-Mail Address
        </label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem">
              <i class="fa fa-at">
              </i>
            </div>

            <input
              type="text"
              name="email"
              class="form-control"
              id="email"
              placeholder="you@example.com"
              required autofocus
            >
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div
          *ngIf="wrongEmail"
          class="form-control-feedback"
        >
          <span class="text-danger align-middle">
            <i class="fa fa-close">
              {{ wrongEmailMessage }}
            </i>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="password">
          Password
        </label>
      </div>
      <div class="col-md-6">
        <div class="form-group has-danger">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div
              class="input-group-addon"
              style="width: 2.6rem"
            >
              <i class="fa fa-key">
              </i>
            </div>
            <input
              type="password"
              name="password"
              class="form-control"
              id="password"
              placeholder="Password"
              required
            >
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div
          *ngIf="wrongPassword"
          class="form-control-feedback"
        >
          <span class="text-danger align-middle">
              <i class="fa fa-close">
                {{ wrongPasswordMessage }}
              </i>
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="password">
          Confirm Password
        </label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem">
              <i class="fa fa-repeat">
              </i>
            </div>

            <input
              type="password"
              name="password-confirmation"
              class="form-control"
              id="password-confirm"
              placeholder="Password"
              required
            >
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div
          *ngIf="passwordsDontMatch"
          class="form-control-feedback"
        >
          <span class="text-danger align-middle">
              <i class="fa fa-close">
                {{ passwordsDontMatchMessage }}
              </i>
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="birthday">
          Birthday
        </label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem">
              <i class="fa fa-birthday-cake">
              </i>
            </div>

            <span (click)="overridePopupWindowStyle()">
              <ng-datepicker
                id="birthday"
                position="bottom-right"
                [(ngModel)]="userSettings.birthday"
              >
              </ng-datepicker>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label>
          Gender
        </label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 5.5rem">
              <form name="genders">
                <i class="fa fa-mars">
                </i>
                <input type="radio" [(ngModel)]="male" [value]="true" name="male">
                <i class="fa fa-venus"></i>
                <input type="radio" [(ngModel)]="male" [value]="false" name="female">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <button
          type="submit"
          class="btn btn-success"
        >
          <i class="fa fa-user-plus">
          </i>
          Register
        </button>
      </div>
    </div>
  </form>
</div>
